# Source Qualys instance — read tags from here.
SOURCE_QUALYS_BASE_URL=https://qualysapi.qg3.apps.qualys.com
SOURCE_QUALYS_USERNAME=
SOURCE_QUALYS_PASSWORD=

# Target Qualys instance — write tags to here.
TARGET_QUALYS_BASE_URL=https://qualysapi.qg2.apps.qualys.com
TARGET_QUALYS_USERNAME=
TARGET_QUALYS_PASSWORD=
